<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-127,4}</string>
                <key>spriteSize</key>
                <string>{86,246}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notice_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-210,0}</string>
                <key>spriteSize</key>
                <string>{72,238}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,171},{72,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,-63}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{249,47},{86,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_iknow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{165,63}</string>
                <key>spriteSize</key>
                <string>{148,42}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{247,95},{148,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tips_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,62}</string>
                <key>spriteSize</key>
                <string>{86,42}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{291,143},{86,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,-34}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{291,95},{86,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_tellher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-18}</string>
                <key>spriteSize</key>
                <string>{44,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{249,1},{44,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,6}</string>
                <key>spriteSize</key>
                <string>{80,244}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1,89},{80,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{378,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3966cc5b032de72bd1e66373ef9b9e6a:0f4e0f08ed5fc6386afd0e1e64256220:ea4aaab0bca5727fcea7912a6b6b86e7$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
