<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_blue_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,10}</string>
                <key>spriteSize</key>
                <string>{347,97}</string>
                <key>spriteSourceSize</key>
                <string>{933,117}</string>
                <key>textureRect</key>
                <string>{{121,106},{347,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_green_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-289,5}</string>
                <key>spriteSize</key>
                <string>{353,103}</string>
                <key>spriteSourceSize</key>
                <string>{933,117}</string>
                <key>textureRect</key>
                <string>{{121,1},{353,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_qq_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{337,-25}</string>
                <key>spriteSize</key>
                <string>{199,63}</string>
                <key>spriteSourceSize</key>
                <string>{933,117}</string>
                <key>textureRect</key>
                <string>{{56,1},{199,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_we_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{352,32}</string>
                <key>spriteSize</key>
                <string>{227,53}</string>
                <key>spriteSourceSize</key>
                <string>{933,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginS.png</string>
            <key>size</key>
            <string>{475,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c988cd8144a512410d2dadef3190e628:91ff45a157c454890e1e8c037f488cac:307768a67c436c83543367bc0beb8eb8$</string>
            <key>textureFileName</key>
            <string>loginS.png</string>
        </dict>
    </dict>
</plist>
