<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-28}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{191,63},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dingbu_Ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-247,20}</string>
                <key>spriteSize</key>
                <string>{188,86}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dingbu_hengtiao_yinying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{150,34}</string>
                <key>spriteSize</key>
                <string>{250,60}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{191,1},{250,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dingbu_touxiang_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,27}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{515,1},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanledou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{515,75},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanledou_zuanshi_beijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{247,-25}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{327,63},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiahao_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-17}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{589,61},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingyantiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-280,-37}</string>
                <key>spriteSize</key>
                <string>{120,20}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{1,89},{120,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>little_yinying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-211,-37}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{123,89},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>out_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,-26}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{267,63},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pengyouquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,35}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{589,1},{58,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qq_icon_beijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{307,24}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{443,1},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qq_little_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{192,-24}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{385,63},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{304,-37}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{684,128}</string>
                <key>textureRect</key>
                <string>{{443,83},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall_dingbu.png</string>
            <key>size</key>
            <string>{644,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e83750719732ff7d492ad761f698e388:921f8e2508433cf6eb66431d465082ae:e8882c24b57ff2b0197fa92f0b94ee4e$</string>
            <key>textureFileName</key>
            <string>hall_dingbu.png</string>
        </dict>
    </dict>
</plist>
